*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;

}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid darkslategray;
}
.navbar ul{
  margin-left: auto;
}
#header .animated{
 animation: top-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes top-down{
 0%{
   transform: translateY(10px);
 }
 100%{
   transform: translateY(-10px);
 }
}


